/* 
    Document   : layout
    Created on : Oct 14, 2013, 9:12:16 PM
    Author     : Adam Clark
    Description:
        tänk på att background color endast hämtas om sidan inte kan hitta background-image. dock fungerar inte background image just nu.
*/

root { 
    display: block;
}

body { 
    display: block;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: teal;
    background-image:url('/res/img/bg.jpg');
    background-color: pink;
}

