/* 
    Document   : style
    Created on : Oct 14, 2013, 8:50:50 PM
    Author     : Adam Clark
    Description:
        Purpose of the stylesheet follows. BALALBLABLABLBALALLABLALBLAB Skriv nåt kul här sen.
*/

root { 
    display: block;
}

h1 {
font-size: 20pt;
font-weight: bold;
color: teal;
}