/* 
    Document   : style
    Created on : Oct 14, 2013, 8:50:50 PM
    Author     : Adam Clark
    Description:
        Purpose of the stylesheet follows. BALALBLABLABLBALALLABLALBLAB Skriv nåt kul här sen.
*/

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

body {
  text-align: center;
 }
 
 #products{
     font-size: 20px;
     width: 300px; 
     margin: 20px auto;
     padding: 20px;
     border: 0px solid black;
 }
 
 #chart_div{
     font-size: 20px;
     width: 300px; 
     margin: 20px auto;
     padding: 20px;
     border: 0px solid black;
 }
 
.menubutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family: 'Roboto';
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ce8e28;
        margin-left: 10px;
        martin-right: 10px;
}

.menubutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}

.menubutton:active {
	position:relative;
	top:1px;
}

.menubutton:link{
    color: black;
}

.menubutton:visited {
    color: black;
}